<% if @pessoas %>
	<%= form_for @contato , html:{style: "margin: 10px;"} do |f| %>
		<div class="form-group">
			<%= f.label :pessoa %>
			<%= f.select :pessoa_id, @pessoas.map{ |e| [e.nome.humanize, e.id]} %>
		</div>
		<div class="form-group">
			<%= f.label :telefone %>
			<%= f.text_field :telefone %>
		</div>
		<div class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		
		<%= f.submit "Salvar", class: "btn btn-success" %>
		<%= link_to "Cancelar", contatos_path, class: "btn btn-danger" %>
	<% end %>
<% else %>
	<div class="sem_registros" style='margin: 5px;'><%= "Não há pessoas cadastradas" %></div>
<% end %>