<div class="menu">
	<%= render '/menu' %>
</div>
<%= link_to I18n.t('palavras.novo_registro'), new_contato_path, class: "btn btn-success", style: "float: right; margin: 5px;" %>
<% if @contatos.any? %>
	<table class="table table-striped">
		<tr>
			<th><%= Contato.human_attribute_name(:pessoa) %></th>
			<th><%= Contato.human_attribute_name(:telefone) %></th>
			<th><%= Contato.human_attribute_name(:email) %></th>
		</tr>
		<% @contatos.each do |contato| %>
			<tr>
				<td><%= link_to contato.pessoa.nome.humanize, contato %></td>
				<td><%= contato.telefone %></td>
				<td><%= contato.email %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<div class="sem_registros" style='margin: 5px;'><%= I18n.t('palavras.sem_registros') %></div>
<% end %>