<div class="menu">
	<%= render '/menu' %>
</div>
<%= link_to "Editar", edit_contato_path(@contato), class: "btn btn-primary", style: "float: right; margin: 5px;" %>
<%= link_to "Excluir", contato_path(@contato), method: :delete, confirm: "Tem certeza que deseja excluir?", class: "btn btn-danger", style: "float: right; margin: 5px;" %>
<%= link_to I18n.t('palavras.novo_registro'), new_contato_path, class: "btn btn-success", style: "float: right; margin: 5px;" %>

<div style="margin: 5px;">
	<div><%= Contato.human_attribute_name(:pessoa) %>: <%= @contato.pessoa.nome.humanize %></div>
	<div><%= Contato.human_attribute_name(:telefone) %>: <%= @contato.telefone %></div>
	<div><%= Contato.human_attribute_name(:email) %>: <%= @contato.email %></div>
</div>		
