<%= form_for @pessoa , html:{style: "margin: 10px;"} do |f| %>
	<div class="form-group">
		<%= f.label :nome %>
		<%= f.text_field :nome %>
	</div>
	<div class="form-group">
		<%= f.label :matricula %>
		<%= f.text_field :matricula %>
	</div>
	<div class="form-group">
		<%= f.label :cpf %>
		<%= f.text_field :cpf %>
	</div>
	<div class="form-group">
		<%= f.label :professor %>
		<%= f.check_box :professor, style: 'margin-top: -10px;' %>
	</div>
	<div class="form-group">
		<%= f.label :carga_horaria %>
		<%= f.text_field :carga_horaria %>
	</div>
	<%= f.submit "Salvar", class: "btn btn-success" %>
	<%= link_to "Cancelar", pessoas_path, class: "btn btn-danger" %>
<% end %>