<div class="menu">
	<%= render '/menu' %>
</div>
<%= link_to I18n.t('palavras.novo_registro'), new_pessoa_path, class: "btn btn-success", style: "float: right; margin: 5px;" %>
<% if @pessoas.any? %>
	<table class="table table-striped">
		<tr>
			<th><%= Pessoa.human_attribute_name(:nome) %></th>
			<th><%= Pessoa.human_attribute_name(:matricula) %></th>
			<th><%= Pessoa.human_attribute_name(:cpf) %></th>
			<th><%= Pessoa.human_attribute_name(:professor) %></th>
			<th><%= Pessoa.human_attribute_name(:carga_horaria) %></th>
		</tr>
		<% @pessoas.each do |pessoa| %>
			<tr>
				<td><%= link_to pessoa.nome.humanize, pessoa %></td>
				<td><%= pessoa.matricula %></td>
				<td><%= pessoa.cpf %></td>
				<td><%= pessoa.professor? ? image_tag('certo.png') : image_tag('errado.png') %></td>
				<td><%= pessoa.carga_horaria %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<div class="sem_registros" style='margin: 5px;'><%= I18n.t('palavras.sem_registros') %></div>
<% end %>