<div class="menu">
	<%= render '/menu' %>
</div>
<%= link_to "Editar", edit_pessoa_path(@pessoa), class: "btn btn-primary", style: "float: right; margin: 5px;" %>
<%= link_to "Excluir", pessoa_path(@pessoa), method: :delete, confirm: "Tem certeza que deseja excluir?", class: "btn btn-danger", style: "float: right; margin: 5px;" %>
<%= link_to I18n.t('palavras.novo_registro'), new_pessoa_path, class: "btn btn-success", style: "float: right; margin: 5px;" %>

<div style="margin: 5px;">
	<div style="font-weight: bold; margin-top: 20px;">Dados pessoais</div>
	<div><%= Pessoa.human_attribute_name(:nome) %>: <%= @pessoa.nome.humanize %></div>
	<div><%= Pessoa.human_attribute_name(:matricula) %>: <%= @pessoa.matricula %></div>
	<div><%= Pessoa.human_attribute_name(:cpf) %>: <%= @pessoa.cpf %></div>
	<div><%= Pessoa.human_attribute_name(:professor) %>: <%= @pessoa.professor? ? image_tag('certo.png') : image_tag('errado.png') %></div>
	<div><%= Pessoa.human_attribute_name(:carga_horaria) %>: <%= @pessoa.carga_horaria %></div>
</div>		

<% if @pessoa.contatos.any? %>
	<div style="margin: 5px; margin-top: 20px;">
		<div style="font-weight: bold;">Contatos</div>
		<% @pessoa.contatos.each do |contato| %>
			<div><%= Contato.human_attribute_name(:telefone) %>: <%= contato.telefone %></div>
			<div><%= Contato.human_attribute_name(:email) %>: <%= contato.email %></div>
		<% end %>
	</div>
<% end %>

<% if @pessoa.enderecos.any? %>
	<div style="margin: 5px;">
		<div style="font-weight: bold; margin-top: 20px;">Endereços</div>
		<% @pessoa.enderecos.each do |endereco| %>
			<div><%= Endereco.human_attribute_name(:rua) %>: <%= endereco.rua %></div>
			<div><%= Endereco.human_attribute_name(:numero) %>: <%= endereco.numero %></div>
			<div><%= Endereco.human_attribute_name(:complemento) %>: <%= endereco.complemento %></div>
			<div><%= Endereco.human_attribute_name(:cidade) %>: <%= endereco.cidade %></div>
			<div><%= Endereco.human_attribute_name(:uf) %>: <%= endereco.uf %></div>
			<div><%= Endereco.human_attribute_name(:cep) %>: <%= endereco.cep %></div>
		<% end %>
	</div>
<% end %>