<% if @pessoas %>
	<%= form_for @endereco , html:{style: "margin: 10px;"} do |f| %>
		<div class="form-group">
			<%= f.label :pessoa %>
			<%= f.select :pessoa_id, @pessoas.map{ |e| [e.nome.humanize, e.id]} %>
		</div>
		<div class="form-group">
			<%= f.label :rua %>
			<%= f.text_field :rua %>
		</div>
		<div class="form-group">
			<%= f.label :numero %>
			<%= f.text_field :numero %>
		</div>
		<div class="form-group">
			<%= f.label :complemento %>
			<%= f.text_field :complemento %>
		</div>
		<div class="form-group">
			<%= f.label :cidade %>
			<%= f.text_field :cidade %>
		</div>
		<div class="form-group">
			<%= f.label :uf %>
			<%= f.text_field :uf %>
		</div>
		<div class="form-group">
			<%= f.label :cep %>
			<%= f.text_field :cep %>
		</div>
		<%= f.submit "Salvar", class: "btn btn-success" %>
		<%= link_to "Cancelar", enderecos_path, class: "btn btn-danger" %>
	<% end %>
<% else %>
	<div class="sem_registros" style='margin: 5px;'><%= "Não há pessoas cadastradas" %></div>
<% end %>
