<div class="menu">
	<%= render '/menu' %>
</div>
<%= link_to I18n.t('palavras.novo_registro'), new_endereco_path, class: "btn btn-success", style: "float: right; margin: 5px;" %>
<% if @enderecos.any? %>
	<table class="table table-striped">
		<tr>
			<th><%= Endereco.human_attribute_name(:pessoa) %></th>
			<th><%= Endereco.human_attribute_name(:rua) %></th>
			<th><%= Endereco.human_attribute_name(:numero) %></th>
			<th><%= Endereco.human_attribute_name(:complemento) %></th>
			<th><%= Endereco.human_attribute_name(:cidade) %></th>
			<th><%= Endereco.human_attribute_name(:uf) %></th>
			<th><%= Endereco.human_attribute_name(:cep) %></th>
		</tr>
		<% @enderecos.each do |endereco| %>
			<tr>
				<td><%= link_to endereco.pessoa.nome.humanize, endereco %></td>
				<td><%= endereco.rua %></td>
				<td><%= endereco.numero %></td>
				<td><%= endereco.complemento %></td>
				<td><%= endereco.cidade %></td>
				<td><%= endereco.uf %></td>
				<td><%= endereco.cep %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<div class="sem_registros" style='margin: 5px;'><%= I18n.t('palavras.sem_registros') %></div>
<% end %>