<div class="menu">
	<%= render '/menu' %>
</div>
<%= link_to "Editar", edit_endereco_path(@endereco), class: "btn btn-primary", style: "float: right; margin: 5px;" %>
<%= link_to "Excluir", endereco_path(@endereco), method: :delete, confirm: "Tem certeza que deseja excluir?", class: "btn btn-danger", style: "float: right; margin: 5px;" %>
<%= link_to I18n.t('palavras.novo_registro'), new_endereco_path, class: "btn btn-success", style: "float: right; margin: 5px;" %>

<div style="margin: 5px;">
	<div><%= Endereco.human_attribute_name(:pessoa) %>: <%= @endereco.pessoa.nome.humanize %></div>
	<div><%= Endereco.human_attribute_name(:rua) %>: <%= @endereco.rua %></div>
	<div><%= Endereco.human_attribute_name(:numero) %>: <%= @endereco.numero %></div>
	<div><%= Endereco.human_attribute_name(:complemento) %>: <%= @endereco.complemento %></div>
	<div><%= Endereco.human_attribute_name(:cidade) %>: <%= @endereco.cidade %></div>
	<div><%= Endereco.human_attribute_name(:uf) %>: <%= @endereco.uf %></div>
	<div><%= Endereco.human_attribute_name(:cep) %>: <%= @endereco.cep %></div>
</div>		
