<ul class="nav nav-tabs" role="tablist">
  <li class="<%= 'active' if @menu_ativo == 'Pessoas' %>"><%= link_to "Pessoas", pessoas_path %></li>
  <li class="<%= 'active' if @menu_ativo == 'Contatos' %>"><%= link_to "Contatos", contatos_path %></li>
  <li class="<%= 'active' if @menu_ativo == 'Enderecos' %>"><%= link_to "Enderecos", enderecos_path %></li>
</ul>